.cust-profile {
    font-size: 250px;
}
.cust-list {
    font-size: 100px;
}
.checkbox-left {
    width: 10%;
    text-align: left;
}
.plchld-md {
    height: 60px;
}
.modal-backdrop {
    height: 100%;
}
.text-pink {
    color: #ee4d7f;
}
